<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Locks Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <%- include ('partials/nav', {user: user}); %>
    <div class="container">
        <div id="app">
            <div class="row" id="lockList">
                <h3>Lock list</h3>
                <table v-if="hasLocks">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>IP</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="lock in locks">
                            <td>{{ lock.lock_name }}</td>
                            <td>{{ lock.ip }}</td>
                            <td>{{ lock.status }}</td>
                            <td>
                                <button id="lockDelete" @click="confirmDeleteLock(lock.id)" class="btn-small"><i class="material-icons right">delete</i>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-if="noLocks">No locks yet!</p>
            </div>
            <div class="row" id="lockEdit">
                <h3>Add a lock</h3>
                <form class="col s12" @submit.prevent="addLock">
                    <div class="row">
                        <div class="input-field col s6">
                            <input v-model="lock_name" ref="lock_name" placeholder="Name" id="lock_name" type="text" class="validate">
                            <label for="lock_name">Lock Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input v-model="ip" ref="ip" placeholder="0.0.0.0" id="ip" type="text" class="validate">
                            <label for="ip">IP Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input v-model="model" ref="model" id="status" type="checkbox" class="validate">
                            <label for="status">Status</label>
                        </div>
                    </div>
                    <button id="lockEditSubmit" class="btn" type="submit"><i class="material-icons right">send</i>Submit</button>
                </form>
            </div>
            <div id="deleteConfirm" ref="deleteConfirm" class="modal">
                <div class="modal-content">
                    <h4>Confirm delete</h4>
                    <p>Delete {{ selectedLock }}?</p>
                </div>
                <div class="modal-footer">
                    <button @click="deleteLock(selectedLockID)" class="modal-close btn-flat">Ok</button>
                    <button class="modal-close btn-flat">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script></body>
</html>